.spinner {
    @apply border-4;
    @apply border-solid;
    @apply border-gray-300;
    @apply w-14;
    @apply h-14;
    @apply rounded-full;
    border-left-color: #09f;

    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}